canvas{
	border: 3px solid white;
	background-color: black;
}
body{
	background-color: white;
	width: 80%;
	margin: 0 10% 0 10%;
	border-right: 2px solid red;
}
.centered{
	text-align: center;
}
h1, h2{
	text-align: left;
	margin: 20px 0 10px 0;
	padding: 8px;
	border-radius: 20px 0 0 20px;
}
h1{
	background-color: orange;
}
h2{
	background-color: cyan;
}
p{
	text-align: justify;
	text-indent: 25px;
	margin: 0 10px 10px 10px;
}
.button-style{
	border: 1px solid black;
	padding: 3px;
	border-radius: 12px;
	background-color: rgb(230, 230, 230);
	color: blue;
}